.elementor-57 .elementor-element.elementor-element-6fea11c {
  max-width: 1240px !important;
  justify-content: space-between !important;
}
.woocommerce div.product div.images img {
  width: fit-content;
}
.elementor-1173 .elementor-element.elementor-element-fe682f3 {
  max-width: 1140px;
}
/* Футер  - адаптивность дескопного меню */

@media screen and (max-width: 1450px) {
  .elementor-element-12a8c2c a {
    gap: 10px !important;
    border-radius: 5px;
    font-size: 14px !important;
    padding: 10px !important;
  }
  .elementor-element-515b946 nav a {
    font-size: 14px !important;
    gap: 10px;
    padding: 10px !important;
  }
  .elementor-element-1eabfb5 svg,
  .elementor-element-1eabfb5 .elementor-icon i:before {
    width: 25px;
    height: 25px;
    font-size: 25px;
  }
  .fovorite_link_page a::before {
    font-size: 28px !important;
  }
  .fovorite_link_page .wishlist_products_counter_number {
    font-size: 10px;
  }
  .elementor-element-1eabfb5 .elementor-icon i,
  .elementor-element-1eabfb5 .header-icon-cart,
  .elementor-element-5ecc536 {
    width: 25px;
    height: 25px;
  }
  .elementor-element-1eabfb5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px !important;
  }
  .elementor-44 .elementor-element.elementor-element-1eabfb5 {
    width: fit-content !important;
  }
}
@media screen and (max-width: 1150px) {
  .elementor-element-12a8c2c a {
    border-radius: 3px;
    font-size: 12px !important;
    padding: 8px !important;
  }
  .elementor-element-515b946 nav a {
    font-size: 12px !important;
  }
  .elementor-element-1eabfb5 svg,
  .elementor-element-1eabfb5 .elementor-icon i:before {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  .elementor-element-1eabfb5 .elementor-icon i,
  .elementor-element-1eabfb5 .header-icon-cart,
  .elementor-element-5ecc536 {
    width: 20px;
    height: 20px;
  }
}
/* Реакция элементов на наведение мышью - ФУТЕР */

footer .elementor-widget-container span a:hover {
  color: #bcd128 !important;
  text-decoration: underline;
}

/* Логотип сайта */
.logo_name {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}
.logo_name a {
  font-size: calc(16px + 12 * (100vw / 1920));
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}
.logo_name a:hover {
  color: #bcd128 !important;
}

.footer_info {
  font-weight: 200;
  color: rgbe(255, 255, 255, 0.7);
}
.footer_info a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}
.footer_info a:hover {
  color: #bcd128;
}
/* Иконки формы */
.metform-form-content .elementor-element-5d4f4c1 {
  min-width: 190px !important;
}
.metform-form-main-wrapper .e-con-inner {
  justify-content: space-between !important;
}
.metform-form-main-wrapper .e-con-boxed {
  padding: 0 !important;
  padding: 0 !important;
}
.social_icon_form {
  display: flex;
  justify-content: flex-end;
}
.social_icon_form a {
  background-color: transparent;
}
.social_icon_form a svg.e-fab-whatsapp {
  fill: #bcd128;
}
.social_icon_form a svg.e-fab-whatsapp:hover {
  fill: #8d9d15;
}
.social_icon_form a svg.e-fab-telegram {
  fill: #59aacd;
}
.social_icon_form a svg.e-fab-telegram:hover {
  fill: #55ccff;
}

/* Иконки в header */
header .icon.icon-email:hover::before {
  color: #399bc6 !important; /* Ваш желаемый цвет */
  transition: color 0.2s;
}
header .e-fab-whatsapp:hover,
header .e-fas-shopping-basket:hover {
  fill: #8d9d15 !important;
  transition: color 0.2s;
}
header .e-fab-whatsapp,
header .e-fas-shopping-basket {
  fill: #bcd128 !important;
}
header .e-fab-telegram:hover {
  fill: #399bc6 !important;
  transition: color 0.2s;
}
/* Строка поиска */
header .search-input-header {
  width: auto !important;
}
header .search-input-header.elementor-sticky--active {
  top: 160px !important;
  right: 30px !important;
}
/* Иконки в footer */
footer .elementor-57 .elementor-social-icon {
  background-color: transparent !important;
}
footer .elementor-57 .elementor-social-icon svg {
  transition: all 200ms;
}
footer .elementor-57 .elementor-social-icon:hover svg {
  fill: #bcd128 !important;
}
#masthead .elementor-button {
  font-size: 14px !important;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Страница "Спасибо за заявку" */
.thanks_page .section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.thanks_page .section.thanks img {
  float: right;
}

.thanks_page ul {
  padding-left: 20px;
}

.thanks_page .reviews-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.thanks_page .review-card {
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 15px;
  flex: 1 1 300px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.thanks_page .review-card img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.thanks_page .review-content {
  flex-grow: 1;
}

.thanks_page .review-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.thanks_page .review-position {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.thanks_page .review-text {
  font-style: italic;
}

.thanks_page .social-links ul,
.thanks_page .publications ul {
  list-style-type: disc;
}

/* Страница Контакты */

.сompany_details .header-info {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.сompany_details .header-info strong {
  font-size: 16px;
  display: block;
  margin-top: 5px;
}
.сompany_details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.сompany_details th,
td {
  border: 1px solid #000;
  padding: 8px 12px;
  vertical-align: top;
  text-align: left;
}
.сompany_details th {
  background-color: #f0f0f0;
  width: 35%;
}

/* Страница О нас */

:root {
  --color-primary: #007d7b;
  --color-secondary: #c5d92f;
  --color-dark: #003d3b;
  --color-bg: #ffffff;
  --color-light: #f9f9f9;
}
* {
  box-sizing: border-box;
}
.about_page section {
  margin-bottom: 60px;
}
.about_page .images_our_store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.about_page .images_our_store img {
  flex: 1 1 300px;
  width: 100%;
  max-width: 400px;
}
.about_page .hero {
  background: linear-gradient(to right, #f2f0ee, #eae4de);
  border-radius: 40px;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_page .hero p {
  font-size: 16px;
}
.about_page .hero img {
  max-width: 300px;
  border-radius: 8px;
}
.about_page .hero div {
  flex: 1 400px;
}

.about_page ul {
  padding-left: 20px;
}
.about_page li {
  margin-bottom: 10px;
}
.about_page .features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about_page .feature {
  flex: 1 1 30%;
  border-left: 4px solid var(--color-secondary);
  padding-left: 15px;
  background-color: #f6f6f6;
  border-radius: 6px;
  padding: 15px;
}
.about_page .faq,
.about_page .certificates,
.about_page .requisites {
  background-color: var(--color-light);
  padding: 20px;
  border-radius: 8px;
}
.about_page .clients img {
  /* width: fit-content; */
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  border: 2px solid #007d7b;
}
.about_page .feature img.svg_icon {
  width: 50px;
  height: 50px;
}
.reviews_about {
  max-width: 761px;
}

/* Pop-ap Заказать звонок */

#popmake-6653 {
  max-width: 400px !important;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  border: 2px solid #008081;
  margin: 5px;
}
#popmake-6653 .pum-close.popmake-close {
  position: absolute;
  top: 0;
  right: 0;
}
#popmake-6653 .pum-close.popmake-close:hover {
  color: red !important;
  transition: color 0.2s;
}
@media screen and (max-width: 400px) {
  #popmake-6653 {
    max-width: 100% !important;
  }
}
/* стандартная форма */
#popmake-8657,
#popmake-8677 {
  max-width: 400px !important;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  border: 2px solid #008081;
  margin: 5px;
}
#popmake-8657 .pum-close.popmake-close,
#popmake-8677 .pum-close.popmake-close {
  position: absolute;
  top: 0;
  right: 0;
}
#popmake-8657 .pum-close.popmake-close:hover,
#popmake-8677 .pum-close.popmake-close:hover {
  color: red !important;
  transition: color 0.2s;
}
#popmake-8657 input,
#popmake-8677 input {
  margin-bottom: 10px;
}

#popmake-8657 .popup-policy,
#popmake-8677 .popup-policy {
  font-size: 10px;
  opacity: 0.7;
}
@media screen and (max-width: 400px) {
  #popmake-8657,
  #popmake-8677 {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  .elementor-2
    .elementor-element.elementor-element-c474a05:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-2
    .elementor-element.elementor-element-c474a05
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url(https://upakovych.ru/wp-content/uploads/2024/03/3227455_mob.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .elementor-2 .elementor-element.elementor-element-c474a05 {
    --min-height: 105px;
  }
}

/* Pop-up быстрый заказ */

.blockUI.blockMsg {
  border-radius: 10px !important;
  border: 3px solid #008081 !important;
}
.blockUI.blockMsg .awooc-close {
  color: red !important;
  transition: color 0.2s;
}
.blockUI.blockMsg .awooc-close:hover {
  color: red !important;
}

input.wpcf7-submit {
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  border-style: none;
  background-color: #548072;
}
input.wpcf7-submit:hover {
  background-color: #38594f;
}

/* Карусель в Карточке товара */
.related-products-swiper {
  overflow: hidden;
  margin-bottom: 40px;
}
.related-products-swiper .product-card,
.cross-sells-slider .product {
  display: flex;
  gap: 5px;
  flex-direction: column;
  background: #f5f7fc;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  height: 100%;
}
.related-products-swiper .product-card .product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.related-products-swiper .product-info button,
.cross-sells-slider button {
  margin: 0 !important;
  background-color: rgb(84, 128, 114) !important;
}
.related-products-swiper .product-info button:hover,
.cross-sells-slider button:hover {
  background-color: rgba(84, 128, 114, 0.9) !important;
}

.related-products-swiper .product-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-self: center;
}

.related-products-swiper .product-info h2,
.cross-sells-slider h2 {
  font-size: 18px;
  font-weight: 600;
  color: #007d7b;
  margin: 10px 0;
}
.cross-sells-slider button {
  margin-top: 5px !important;
  width: 100%;
}
.cross-sells-slider .product_type_simple {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  #main_form {
    min-width: 190px !important;
  }
}
/* Logo */
.elementor-44 .elementor-element.elementor-element-006b4bf.e-con {
  width: fit-content;
  gap: 0;
}

@media (max-width: 1024px) {
  .elementor-2 .elementor-element.elementor-element-c413459 {
    /* padding-top: 120px; */
  }
  .elementor-element-70f84ef {
    display: none !important;
  }
}
@media screen and (min-width: 800px) {
  .elementor-element-e31cdd8,
  .elementor-element-8e2735f,
  .elementor-element-971382a,
  .elementor-element-12e4af7 {
    display: none;
  }
}

/* Всплывающее окно */
.woocommerce-store-notice,
p.woocommerce-store-notice.demo_store {
  border-radius: 20px 0 0 20px;
  position: fixed;
  top: 25%;
  right: 0 !important;
  left: inherit;
  margin: 0;
  width: 400px;
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
  background-color: #720eec;
  color: #fcfbfe;
  z-index: 99998;
  box-shadow: 0 1px 1em rgb(0 0 0 / 0.2);
  display: none;
  height: fit-content;
  transform: translateX(100%);
  animation: slideInRight 0.6s ease-out forwards;
}

/* Кнопка Купить в 1 клик */
.woocommerce ul.products li.product .button {
  margin-left: 0;
}
.archive.tax-product_cat ul.products > li,
ul.products > li {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.woocommerce ul.products li.product .button.awooc-custom-order {
  background-color: var(--e-global-color-7459a87);
}
.woocommerce ul.products li.product .button.awooc-custom-order:hover {
  background-color: #015e5e;
}
.elementor-1173
  .elementor-element.elementor-element-afcdcaa
  .wl-addto-cart[class*="wl-style-"]
  form.cart
  button {
  margin-left: 0;
  margin-top: 20px;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .woocommerce-store-notice,
  p.woocommerce-store-notice.demo_store {
    width: 100%;
    border-radius: 0;
    top: 0;
  }
}

/* Страница Отзывы */
.elementor-widget-container body {
  background-color: rgb(255, 255, 255) !important;
  border: none;
}
body {
  background-color: rgb(255, 255, 255) !important;
}

/* Страница скидок */
.discounts-section {
  font-family: sans-serif;
  background: #f7f9fb;
  padding: 30px;
  border-radius: 12px;
}
.discounts-section hr {
  margin-top: 40px;
  color: rgb(39, 91, 55);
}
.discount-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 20px;
}

.discount-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.circle {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  color: white;
}

.circle.red {
  background-color: #f44336;
}

.circle.blue {
  background-color: #03a9f4;
}

.vip {
  font-weight: bold;
  margin-bottom: 8px;
}
.vip span {
  display: inline-block;
  background: #ffeb3b;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 14px;
  margin-left: 5px;
}

.conditions {
  margin-top: 40px;
}

.conditions-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 20px;
}

/* Фильтер товаров */
.wpc-filters-widget-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.wpc-filters-section {
  flex: 1 1 200px;
}
.header_filters {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 15px;
  margin-left: auto;
  width: fit-content;
  cursor: pointer;
  margin-right: 10px;
  padding: 4px 15px 0 15px;
  background-color: rgb(84, 128, 114);
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
}
.header_filters:hover {
  opacity: 0.9;
}
.header_filters.not_active svg {
  transform: rotate(90deg);
}
.header_filters svg {
  transform: rotate(-90deg);
  transition: all 0.2s;
}
.filter_catalog_wrap .filters {
  overflow: hidden;
}
.filter_catalog_wrap .filters.not_active {
  height: 0;
}
/* Облако тэгов категории продуктов */
.product-tags-cloud .wrap_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 15px;
  gap: 5px;
}
.product-tags-cloud a {
  width: fit-content;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(0, 128, 129);
  background-color: rgb(253, 255, 251);
  color: rgb(0, 128, 129);
  transition: all 0.3s;
}

.product-tags-cloud a:hover {
  background-color: rgb(0, 128, 129);
  color: rgb(255, 255, 255);
}

/* Боковое меню в каталоге */
.main_content_product {
  display: flex;
  gap: 60px;
}
.left_menu_sidebar {
  padding: 10px 0 0 0;
  flex: 1;
  font-size: 16px;
}
.main_content_product .cont {
  flex: 5;
}
.left_menu_sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.left_menu_sidebar a {
  color: rgb(118, 118, 118);
  margin-bottom: 5px;
  display: inline-block;
}

.left_menu_sidebar ul ul {
  padding-left: 15px;
}
.left_menu_sidebar ul ul ul {
  padding-left: 30px;
}

.left_menu_sidebar .current-menu-item > a {
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.left_menu_sidebar ul:first-child > li > a {
  font-weight: 600;
  color: rgb(84, 128, 114);
}
@media screen and (max-width: 1200px) {
  .left_menu_sidebar {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .left_menu_sidebar {
    display: none;
  }
}

/* Корзина */
form.woocommerce-cart-form .product-quantity {
  min-width: 70px;
}
form.woocommerce-cart-form .quantity input {
  min-width: -webkit-fill-available !important;
  padding: 8px 4px;
}
.wrap_form_content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.header_produts {
  display: grid;
  grid-template-columns: 15% 40% 10% 10% 15% 0;
  height: fit-content;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.header_produts .product-thumbnail {
  text-align: left;
}
.woocommerce-cart-form {
  flex: 3;
}
.woocommerce-cart-form .cart_item {
  display: grid;
  grid-template-columns: 15% 40% 10% 10% 13% 2%;
  text-align: -webkit-center;
  justify-items: center;
  gap: 10px;
  align-items: center;
}
.woocommerce-cart-form .cart_item .product-name {
  text-align: justify;
}
.woocommerce-cart-form .cart_item .product-name a {
  text-decoration: none;
  color: rgb(84, 128, 114);
}
.woocommerce-cart-form .cart_item .product-thumbnail {
  width: 100px;
  height: 100px;
}

.but_update_wrap {
  display: flex;
  justify-content: flex-end;
}
#but_update {
  background-color: rgb(0, 128, 129);
  border: none;
  margin-left: auto;
  margin-right: 40px;
}
.wrap_cart-collaterals {
  background-color: rgb(0, 128, 129);
  padding: 15px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  align-self: flex-start;
  flex: 1;
}
.shop_responsive > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrap_cart-collaterals a.checkout-button {
  width: fit-content !important;
  background-color: rgb(185, 206, 40) !important;
  color: rgb(255, 255, 255) !important;
  margin: 0;
  margin-top: 20px;
  border-radius: 10px;
}
.wc-proceed-to-checkout {
  display: flex;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}
.order-total {
  font-size: 22px;
}
.woocommerce-notices-wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.woocommerce-notices-wrapper .woocommerce-message {
  border-top-color: rgb(0, 128, 129);
}
.woocommerce-notices-wrapper .woocommerce-message::before {
  content: "\e015";
  color: rgb(0, 128, 129);
}
@media screen and (max-width: 1140px) {
  .wrap_form_content {
    flex-direction: column;
    width: 95%;
    align-self: normal;
  }
  .wrap_cart-collaterals {
    align-self: normal;
  }
  .header_produts {
    display: none;
  }
  .woocommerce-cart-form .cart_item {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    margin-bottom: 25px;
  }
  .woocommerce-cart-form .cart_item .product-thumbnail {
    grid-row: span 2;
  }
  .woocommerce-cart-form .cart_item .product-name {
    grid-column: span 4;
  }
  #but_update {
    margin-right: 0;
  }
}

/* Страница оформления заказа */
/* Основной контейнер формы */
/* Основной контейнер */
form.woocommerce-checkout {
  display: flex;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.checkout-section {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 20px;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}
.section-number {
  font-weight: bold;
  color: green;
}
.delivery-methods {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}
.delivery-method {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  background: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 150;
}
.delivery-method input {
  margin-right: 10px;
}
.delivery-method.active {
  border-color: green;
  background: #e8ffe8;
}

.woocommerce-checkout-payment {
  background-color: rgb(0, 128, 129) !important;
  padding: 15px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  align-self: flex-start;
  flex: 1;
}

.shop_table.woocommerce-checkout-review-order-table {
  /* display: none; */
}
.woocommerce-checkout .form-row {
  flex-direction: column;
}
.woocommerce-checkout button.button {
  width: fit-content !important;
  background-color: rgb(185, 206, 40) !important;
  color: rgb(255, 255, 255) !important;
  margin: 0;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.woocommerce-checkout .col_left {
  flex: 5;
}
.woocommerce-checkout .col_right {
  flex: 1;
  min-width: 290px;
}
.woocommerce-checkout .wc_payment_methods,
.woocommerce-checkout .place-order {
  font-size: 12px;
}
.woocommerce-checkout .woocommerce form .form-row label {
  line-height: normal;
}

.woocommerce-checkout .wc_payment_method label {
  display: inline;
}
.woocommerce-checkout h3 {
  font-size: 20px;
}
.woocommerce-checkout .section-header {
  justify-content: space-between;
}
.woocommerce-checkout .collapsed {
  height: 78px;
}
.woocommerce-checkout .checkout-section {
  overflow: hidden;
}
.woocommerce-checkout .toggle-section img {
  width: 20px;
  height: 20px;
  transition: all 200ms;
}
.woocommerce-checkout .collapsed .toggle-section img {
  transform: rotate(180deg);
}
.woocommerce-checkout .woocommerce form .form-row label {
  margin-bottom: 10px;
}
.note_for_order {
  font-size: 10px;
  margin-top: -5px;
  margin-left: 10px;
}

/* СТраница Ваш заказ приянт */
.woocommerce-order.thankyou {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* .woocommerce {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
} */

/* Footer */
.license_footer {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* Мобильное меню сайта */
.header_mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
  padding: 10px;
  overflow: hidden;
  overflow-x: hidden;
}
.header_mobile .mobile_menu_list.not_active {
  max-width: 0;
  overflow-x: hidden;
}
.header_mobile li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_mobile .wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_mobile .logo_mobile img {
  width: 30px;
  height: 40px;
}
.header_mobile .logo_mobile a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #fff !important;
}
.header_mobile .burger_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header_mobile .burger_menu {
  display: flex;
  flex-direction: column;
}
.header_mobile .burger_menu img,
.mobile_cotalog_menu .burger_menu img {
  width: 30px;
  height: 30px;
}
.header_mobile .mobile_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
}
.header_mobile .mobile_icons svg {
  width: 30px;
  height: 30px;
  fill: rgb(255, 255, 255) !important;
  transition: all 0.2s;
}
.header_mobile .mobile_icons svg:hover {
  fill: rgb(141, 157, 21) !important;
}

.mobile_menu_list {
  position: absolute;
  top: 55px;
  right: 0px;
  max-width: 300px;
  overflow: hidden;
  background-color: rgb(0, 128, 129);
  transition: max-width 0.5s ease 0.2s;
  margin: 0;
  /* padding: 20px; */
  z-index: 10000;
  border-radius: 0 0 0 10px;
}
.mobile_menu_list > .wrap_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  padding: 20px;
}

.mobile_menu_list .mobile_menu_link a {
  display: block;
  font-size: 16px;
  color: #fff;
  width: 100%;
  padding: 3px 0;
  padding-right: 30px;
  text-align: right;
  text-align: left;
}
.mobile_menu_list .mobile_menu_link a:first-child {
  padding-top: 10px;
}

.header_mobile .contacts {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
}
.header_mobile .contacts p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.header_mobile .contacts li {
  flex: 1 1 fit-content;
}
.header_mobile .contacts a {
  color: #fff;
  display: block;
  padding: 10px 15px;
  text-align: center;
  background-color: rgb(186, 207, 40);
  border-radius: 10px;
  font-size: 13px;
}
.header_mobile .contacts .point {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.header_mobile .always_display_mobile_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  fill: #fff;
  margin-left: auto;
  margin-right: 20px;
  transition: opacity 0.5s;
}
.header_mobile .always_display_mobile_icons svg,
.header_mobile .always_display_mobile_icons img {
  width: 25px;
  height: 25px;
}
.header_mobile .always_display_mobile_icons a {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Мобильное меню каталога */
.mobile_cotalog_menu {
  position: relative;
  width: fit-content;
  z-index: 100;
}
.elementor-element-676405b {
  width: fit-content;
}
.mobile_cotalog_menu .wrap_menu_catalog {
  width: 0;
  position: absolute;
  top: -20px;
  left: -10px;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 999;
}
.mobile_cotalog_menu .wrap_menu_catalog.active {
  width: 370px;
}

.mobile_cotalog_menu .burger_menu img {
  opacity: 1;
  padding: 4px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: rgb(0, 128, 129);
  border-radius: 3px;
}
#burger_catalog_button_cross {
  width: 18px;
  height: 18px;
  display: block;
  margin-left: 2px;
  margin-top: 10px;
}
.mobile_cotalog_menu .elementor-icon-list-items li {
  font-size: 16px;
  padding-left: 20px;
}
.mobile_cotalog_menu a {
  text-decoration: none !important;
}

.mobile_cotalog_menu .elementor-icon-list-items li a {
  text-decoration: none;
  color: rgb(84, 128, 114);
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.mobile_cotalog_menu .elementor-icon-list-items li a:hover {
  color: #000;
}

.mobile_cotalog_menu #list_menu_catalog {
  list-style: none;
  background-color: #fff;
  z-index: 200;
  padding: 15px;
  width: 370px;
  color: rgb(84, 128, 114);
  background-color: #008081;
  border-radius: 0 0 10px 0;
  overflow: auto;
}
.mobile_cotalog_menu #list_menu_catalog > li:first-child {
  margin-bottom: 15px;
}
.mobile_cotalog_menu #list_menu_catalog a {
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  padding-left: 50px;
}
.mobile_cotalog_menu #list_menu_catalog > li > a::after {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-left: 10px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../images/angle-small-down-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}
.mobile_cotalog_menu #list_menu_catalog > li > a.no-icon::after {
  content: none;
}

.mobile_cotalog_menu #list_menu_catalog > li.open > a::after {
  transform: rotate(0deg);
}
.mobile_cotalog_menu #list_menu_catalog > li > a::before {
  position: absolute;
  left: 10px;
  top: 25%;
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../images/cat_icons/cat_1.svg");
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* Иконки меню */
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7864 > a::before {
  background-image: url("../images/cat_icons/cat_2.svg");
}
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7868 > a::before {
  background-image: url("../images/cat_icons/cat_4.svg");
}
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7875 > a::before {
  background-image: url("../images/cat_icons/cat_13.svg");
}
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7881 > a::before {
  background-image: url("../images/cat_icons/cat_10.svg");
}
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7890 > a::before {
  background-image: url("../images/cat_icons/cat_3.svg");
}
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7885 > a::before,
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7888 > a::before,
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7889 > a::before,
.mobile_cotalog_menu #list_menu_catalog > li#menu-item-7895 > a::before {
  background-image: url("../images/cat_icons/cat_5.svg");
}

.mobile_cotalog_menu #list_menu_catalog .sub-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.7;
  font-weight: 200;
}
.mobile_cotalog_menu #list_menu_catalog .sub-menu {
  height: 0;
  overflow-y: hidden;
  transition: height 0.3s ease;
}
.mobile_cotalog_menu #list_menu_catalog .open .sub-menu {
  height: fit-content;
}

.e-con-inner.catalog {
  margin: 25px 10px;
}
@media screen and (min-width: 701px) {
  .e-con-inner.catalog {
    display: none;
  }
}
.woocommerce-breadcrumb {
  margin-top: 10px !important;
}
@media screen and (max-width: 1024px) {
  .woocommerce-breadcrumb {
    /* margin-top: 30px !important; */
  }
  .e-con-inner.catalog {
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 70px;
    z-index: 1000;
  }
}
/* Футер - мобильный */

@media screen and (max-width: 768px) {
  .elementor-element-df8445d {
    padding: 15px !important;
    padding-top: 25px !important;
    width: 100%;
  }
  .elementor-element-df8445d * {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .elementor-element-df8445d .elementor-element-1c4eaa8 img {
    height: 30px !important;
  }
  .elementor-element-447baa1 > div {
    margin: 0 !important;
    padding: 0 !important;
    width: fit-content;
  }
  .elementor-element-72ed696 {
    flex-direction: row !important;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    gap: 15px;
  }

  .elementor-element-72ed696 > div {
    flex: 1 1 250px;
  }
  .wp-image-3471 {
    width: 21px !important;
    height: 30px !important;
  }
  .elementor-element-1c4eaa8,
  .elementor-element-447baa1 {
    max-width: fit-content !important;
    align-self: flex-start !important;
  }
  .elementor-element-447baa1 {
    display: none;
  }
  .elementor-element-1c2bed5 span {
    flex-direction: row !important;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: space-around;
    gap: 10px;
  }
  .elementor-element-6f31de1 a {
  }
  .elementor-element-1c2bed5 span > a {
    flex: 1;
    font-size: 14px;
  }
  .elementor-element-d819d27 {
    flex-wrap: nowrap;
  }
  .elementor-element-d819d27 svg {
    width: 30px !important;
    height: 30px !important;
  }
  .elementor-element-488fac5 .e-con-inner {
    justify-content: center !important;
    align-items: center !important;
  }
  .elementor-element-488fac5 .elementor-widget-container {
    width: 150px;
  }
  .elementor-element-e888190 {
    flex-direction: column-reverse !important;
  }
  .elementor-element-6f31de1 .footer_info {
    margin-top: 20px;
  }
}

/*Каталог главная страница */
.benefits-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 40px; /* межстрочный и межколоночный отступ */
  max-width: 1140px;
  justify-content: space-around;
}

.benefit-flex-item {
  flex: 1 1 200px; /* ширина одного блока, адаптация при уменьшении */
  display: flex;
  align-items: flex-start;
  gap: 12px;
  min-width: 200px; /* чтобы красиво переносились */
  box-sizing: border-box;
}

.benefit-icon {
  font-size: 2.1rem;
  color: #664799;
  line-height: 1;
  flex-shrink: 0;
}

.benefit-text {
  font-size: 1.07rem;
  color: rgb(84, 128, 114);
  font-weight: 500;
  line-height: 1.2;
}

/* Мобильная адаптация */
@media (max-width: 750px) {
  .benefits-flex {
    gap: 20px 0;
  }
  .benefit-flex-item {
    min-width: 100%;
    flex-basis: 100%;
  }
  .benefit-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 750px) {
  .elementor-element-458a63d .wl-row {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    margin: 2px;
  }
  .elementor-element-458a63d .wl-row .wl-col-3 {
    max-width: 100%;
    padding: 0 !important;
  }
  .elementor-element-458a63d .wl-row .wl-col-3 .ht-category-wrap-2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 5px;
    align-items: center;
    margin: 0;
  }
  .elementor-element-458a63d .wl-row .wl-col-3 .ht-category-wrap-2::before {
    content: none !important;
  }
  .elementor-element-458a63d .wl-row .wl-col-3 .ht-category-wrap-2 h3::before {
    content: none !important;
  }
  .elementor-element-458a63d .wl-row .wl-col-3 .ht-category-wrap-2 > div {
    margin: 0;
    padding: 0;
  }
}

/* Корзина меню */
.header-icon-cart {
  position: relative;
  display: block;
  height: 35px;
  width: 35px;
}
.header-icon-cart .count {
  position: absolute;
  top: -6px;
  right: -6px;
  display: block;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(204, 51, 102);
  color: rgb(255, 255, 255);
}
.header-icon-cart .no-items {
  display: none;
}

/* Карточки товаров */
.price > .predicate {
  color: #c36;
  font-weight: 600;
}
.woocommerce-LoopProduct-link .woocommerce-Price-amount {
  font-size: 18px !important;
}

/* Траница категории продуктов */
ul.products .product-category {
  /* border: 2px solid rgb(0, 128, 129); */
  border-radius: 20px;
  padding: 20px !important;
  background-color: rgb(84, 128, 114);
  color: rgb(255, 255, 255) !important;
  min-height: 280px;
}
ul.products .product-category img {
  border-radius: 10px;
}
ul.products .product-category a,
ul.products .product-category .count {
  color: rgb(255, 255, 255) !important;
}
main {
  /* margin-top: 20px; */
}
.metform-form-content .elementor-element-5d4f4c1 {
  background-color: rgb(255, 255, 255);
}

#content h1:first-child {
  margin-top: 50px !important;
}
@media screen and (max-width: 750px) {
  #content h1:first-child {
    margin-top: 25px !important;
  }
}
.final_block_category {
  display: block;
  padding: 20px;
  border: 1px solid rgb(84, 128, 114);
  border-radius: 20px;
  text-align: center;
  margin-top: 30px;
}

/* список желаний */

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt,
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt {
  width: 30px !important;
  height: 30px !important;
}
.tinv-wishlist
  .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt:before,
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before {
  font-size: 30px;
}

.fovorite_link_page {
  width: 35px;
  height: 35px;
  position: relative;
}
.fovorite_link_page .wishlist_products_counter_number {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-size: 10px;
}
.fovorite_link_page a {
  width: 35px;
  height: 35px;
  display: block;
}
.fovorite_link_page a::before {
  font-size: 40px !important;
}
/* Список желаний */
.tinvwl-table-manage-list {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
}
.tinvwl-table-manage-list .product-name a {
  font-weight: 600;
  color: rgb(84, 128, 114) !important;
  padding: 10px !important;
  padding: 10px !important;
}
.tinvwl-table-manage-list button.alt {
  background-color: rgb(84, 128, 114) !important;
}
.tinvwl-table-manage-list button.alt:hover {
  background-color: rgb(1, 94, 94) !important;
}
.tinvwl-table-manage-list .product-price ins .woocommerce-Price-amount.amount {
  color: rgb(149, 142, 9) !important;
}
.tinvwl-table-manage-list .product-price ins,
.tinvwl-table-manage-list .product-price del {
  display: block;
}
.tinvwl-table-manage-list .wishlist_item .product-remove button {
  color: rgb(204, 51, 102) !important;
}

@media screen and (max-width: 768px) {
  .tinvwl-table-manage-list,
  .tinvwl-table-manage-list th,
  .tinvwl-table-manage-list td {
    border: none !important;
    border-collapse: collapse;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
  }
  .tinvwl-table-manage-list {
    margin: 10px !important;
    width: 94% !important;
  }
  .tinvwl-table-manage-list tbody > tr {
    display: block;
  }
  .tinvwl-table-manage-list button.alt {
    width: fit-content !important;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
  }
  .tinvwl-table-manage-list .wishlist_item .input-checkbox {
    position: absolute;
    top: 70px;
    left: 40px;
    margin-top: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }
  .tinvwl-table-manage-list .wishlist_item .product-remove button {
    position: absolute;
    top: 85px;
    right: 40px;
    margin: 0 !important;
    padding: 0 !important;
  }
  .ftinvwl-times:before {
    font-size: 30px !important;
  }
  .tinvwl-table-manage-list thead {
    display: none;
  }
  .tinvwl-table-manage-list .product-thumbnail img {
    max-width: 200px !important;
    height: 200px !important;
    padding: 20px !important;
  }
  .tinvwl-table-manage-list
    .product-price
    ins
    .woocommerce-Price-amount.amount {
    font-size: 18px;
  }
  .tinvwl-table-manage-list .wishlist_item {
    position: relative;
  }
  .tinvwl-table-manage-list .product-name a {
    font-size: 18px !important;
  }
}

/* Форма целевого назначения intended use */
.intended_use {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  border: 2px solid #008081;
  max-width: 900px;
  margin: 5px;
}
.intended_use .wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.intended_use .wrap > div:first-child {
  flex-direction: 2 2 160px;
}
.intended_use .wrap > div:last-child {
  flex-direction: 1 1 80px;
}
.intended_use .popup-policy {
  font-size: 10px;
  opacity: 0.7;
}

.intended_use img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#popmake-8507 > button {
  position: absolute;
  right: 5px;
  top: 5px;
}
#popmake-8507 > button:hover {
  color: red !important;
  transition: color 0.2s;
}
.intended_use .form input {
  margin-bottom: 10px;
}
.intended_use .wpcf7-response-output {
  margin: 0 !important;
  margin-top: 10px !important;
}
.elementor-element-8c13d51 {
  width: 100% !important;
}
@media screen and (max-width: 850px) {
  .intended_use .wrap {
    flex-direction: column;
  }
}

/* Страница товара */
.single-product .discount_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}
.single-product .discount_block a {
  border-bottom: 1px dashed #000;
  font-size: 16px;
  color: black;
  opacity: 0.4;
}
.single-product .discount_block a:hover {
  opacity: 0.7;
}

.single-product .tinvwl_add_to_wishlist_button {
  display: flex;
  padding: 8px 15px;
  border: 1px solid #c2c2c2;
  align-items: center;
  gap: 5px;
  width: fit-content;
  border-radius: 5px;
}

.elementor-element-61fd00b .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 35px;
}
.elementor-element-61fd00b .price del .woocommerce-Price-amount {
  font-size: 14px !important;
}
.elementor-element-61fd00b form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.single-product .delivery_block .title_delivery {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 2px solid rgb(84, 128, 114);
  width: fit-content;
}
.single-product .delivery_block .description {
  margin-top: 10px;
}
.single-product .delivery_block .description p {
  margin-bottom: 5px;
}
.single-product .delivery_block .description strong {
  color: rgb(188, 209, 40);
  font-weight: 400;
}
.single-product .characteristics h6 {
  margin-bottom: 8px !important;
}
.single-product .characteristics .wrap_charact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  column-gap: 25px;
  margin-top: 15px;
}
.single-product .characteristics .wrap_charact img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.single-product .characteristics .wrap_charact > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  flex: 1 1 150px;
  /* white-space: nowrap; */
}
.woocommerce-notices-wrapper {
  margin-top: 20px !important;
}

.single-product .delivery-payment-site {
  max-width: 100%;
}
.single-product .site-section-title {
  font-weight: 700;
  margin-bottom: 18px;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.single-product .site-section-title .site-link {
  font-weight: 600;
  margin-left: 7px;
  text-decoration: underline;
  cursor: pointer;
}
.single-product .site-delivery-list {
  list-style: none;
  padding: 0;
  margin: 0 0 34px 0;
  border-top: 1px solid #cde3dd;
}
.single-product .site-delivery-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 0;
  border-bottom: 1px solid #cde3dd;
  font-size: 1.13rem;
  font-weight: 500;
  position: relative;
}
.single-product .site-price {
  font-weight: 700;
  font-size: 1.11rem;
  min-width: 84px;
  text-align: right;
  letter-spacing: 0.3px;
}
.single-product .site-price--free {
  color: rgb(188, 209, 40);
}
.single-product .site-subtext {
  display: block;
  font-size: 0.96rem;
  opacity: 0.6;
  font-weight: 400;
  margin-top: 2px;
}
.single-product .site-delivery-list a {
  text-decoration: underline dotted;
  font-weight: 500;
}
.single-product .site-section-title--payment {
  font-size: 1.5rem;
  margin-top: 34px;
  margin-bottom: 16px;
}
.single-product .site-payment-methods {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 40px;
}
.single-product .site-payment-method {
  flex: 1;
}
.elementor-element-704661c .e-n-tabs-content > div {
  margin: 32px auto 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(44, 62, 80, 0.08);
  padding: 28px 28px 18px 28px;
}
.single-product .site-payment-method .site-payment-desc > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}
.single-product .site-payment-method .site-payment-desc > div img {
  width: 23px;
  height: 23px;
}

/* ***********Страница доставки Новая .delivery_page************ */
.elementor-element-024bb8d h1 {
  font-size: 32px;
  font-weight: 600 !important;
}
.flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
}
.delivery_page section {
  margin-bottom: 80px;
}
.delivery_page h2 {
  margin-bottom: 32px;
}
.delivery_page p {
  text-align: justify;
}
/* секция Доставка и оплата */
.variant_del .flex {
  align-items: center;
}
.delivery_page section.variant_del {
  border-radius: 40px;
  padding: 35px 32px 65px 32px;
  background-color: rgba(246, 246, 246, 1);
}

.variant_del .footnote {
  margin: 0;
  margin-top: 30px;
  font-weight: 600;
}
.variant_del .flex > div {
  flex: 1;
}
.variant_del .flex > div.left_column {
  flex: 5 5 500px;
}
.variant_del .flex > div.right_column {
  flex: 4 4 400px;
  display: flex;
  justify-content: center;
}
.variant_del .left_column {
}

/* секция Зона доставки */
.map_zones > .flex {
  align-items: stretch;
}
.map_zones .right_column.flex {
  align-items: normal;
}
.map_zones .left_column {
  flex: 4 4 400px;
  border-radius: 20px;
  overflow: hidden;
}
.map_zones .right_column {
  flex: 4 4 400px;
}

.map_zones .right_column.flex {
  flex-direction: row;
  justify-content: space-between;
}
.map_zones .footnote {
  margin: 0;
  font-weight: 600;
}
.map_zones .right_column > div {
  height: fit-content;
}
.map_zones .right_column > div:last-child {
  margin-top: auto;
}
.map_zones .delivery_zone {
  padding-left: 0;
}
.map_zones .delivery_zone li {
  display: block;
  padding: 5px;
  padding-left: 10px;
  margin-left: 0;
  min-width: 300px;
  margin-bottom: 7px;
  border-radius: 5px;
}
.map_zones .delivery_zone li.green {
  background-color: rgba(122, 195, 131, 1);
  color: rgb(255, 255, 255);
}
.map_zones .delivery_zone li.yellow {
  background-color: rgba(255, 206, 49, 1);
  color: rgb(0, 0, 0);
}
.map_zones .delivery_zone li.red {
  background-color: rgba(255, 4, 49, 1);
  color: rgb(255, 255, 255);
}
.map_zones h3 {
  margin-top: -5px;
}

@media screen and (max-width: 860px) {
  .map_zones > .flex {
    gap: 20px;
  }
  .map_zones .right_column.flex {
    flex-direction: column;
    justify-content: flex-start;
  }
  .map_zones .right_column > div:last-child {
    margin-top: 0;
  }
  .map_zones h3 {
    margin-top: 0;
  }
}

/* секция Сроки доставки */
.delivery_times .outer_block {
  flex: 1 1 300px;
  background-color: rgba(197, 217, 47, 1);
  padding: 0;
  padding-left: 4px;
  border-radius: 10px;
}

.delivery_times .inner_block {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 10px;
  padding: 15px 20px 25px 20px;
  height: 100%;
}

/* секция Способы оплаты */
.site-payment-methods {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 40px;
}
.site-payment-method {
  flex: 1;
}

.site-payment-method .site-payment-desc > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}
.site-payment-method .site-payment-desc > div img {
  width: 23px;
  height: 23px;
}

/* секция Оставить заявку */
.leave_a_request .flex {
  justify-content: flex-start;
  align-items: center;
}
.leave_a_request .flex > div {
  flex: 1 1 350px;
}
.leave_a_request .left_column {
  max-width: 350px;
}
.leave_a_request .left_column img {
  width: 100%;
}
.leave_a_request .elementor-element-5d4f4c1 {
  margin-right: auto;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .leave_a_request .elementor-314 .elementor-element.elementor-element-5d4f4c1 {
    --width: 80% !important;
  }
}
@media screen and (max-width: 775px) {
  .leave_a_request .flex {
    align-items: flex-start;
    gap: 0;
  }
}
@media screen and (max-width: 719px) {
  .leave_a_request .left_column img {
    display: none;
  }
}

/* Остались вопросы */
.other_questions {
  background-color: rgba(0, 128, 129, 1);
  border-radius: 40px;
  padding: 38px;
  color: rgb(255, 255, 255);
}
.other_questions a {
  color: rgb(255, 255, 255);
}
.other_questions a.mail {
  text-decoration: underline;
}
.other_questions a.mail:hover {
  text-decoration: none;
}
.other_questions a:hover {
  color: rgb(188, 209, 40);
}

@media screen and (max-width: 775px) {
  .delivery_page section.variant_del {
    border-radius: 20px;
    padding: 20px;
  }
  .flex {
    gap: 20px;
  }
  .delivery_page section.other_questions {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

/* ***********КОНЕЦ страницы доставки Новая .delivery_page************ */
/* Общие классы */
.text_center {
  text-align: center;
}

/* ПРодукты категории */
@media screen and (min-width: 800px) {
  .products.flex-products {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
  .woocommerce ul.products.columns-5.flex-products li.product,
  .woocommerce-page ul.products.flex-products li.product {
    width: 20% !important;
    min-width: 180px;
  }
}

/* Добавляем приставку от */
.elementor-widget-container > .price ins .woocommerce-Price-amount:before {
  content: "от ";
}
